<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered table-content">
    <thead class="table-dark">
        <tr class="center-align">
        <th>ID</th>
        <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataPoint of dataPoints" class="center-align">
            <td>{{ dataPoint.id }}</td>
            <td>{{ dataPoint.name }}</td>
        </tr>
        <!-- 
        <tr>
        <td *ngIf="employeeList.length == 0" colspan="6">No Employee Found</td>
        </tr> -->
    </tbody>
    </table>
</div>