<div class="table-title my-2 col-12">
    <div class="row">
        <div class="col">
            <h4><b>Datenansicht</b></h4>
        </div>
        <div class="col">
            <select title="Auswahl Plfanze" [(ngModel)]="plantNameSelect"  class="form-select">
                <option value="default">Pflanze auswählen.</option>
                <option *ngFor="let plant of plants" value={{plant.name}}> {{plant.name}} </option>
                <!-- <option value="default">Pflanze auswählen.</option>
                <option value="pflanze_1">Pflanze_1</option>
                <option value="2">Two</option>
                <option value="3">Three</option> -->
            </select>
        </div>
        <div class="col">
            <select title="Auswahl Daten" [(ngModel)]="dataTypeSelect" class="form-select">
                <option value="default">Datentyp auswählen.</option>
                <option value="temperaturwerte">Temperatur</option>
                <option value="feuchtigkeitswerte">Feuchtigkeit</option>
                <option value="lichtwerte">Licht</option>
            </select>
        </div>
        <div class="col">
            <button (click)="update()" class="btn btn-primary">
                Aktualisieren
            </button>
        </div>
    </div>
</div>


<router-outlet #myRouterOutlet ></router-outlet>